<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summary.personalsummaryend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.summary.personalsummaryend.bean.entity.UserFunctionListDO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <select id="queryUserFunctionList" resultType="java.util.List">
        

    </select>
</mapper>
